* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333333;
}

/* Style the navigation bar links */
.navbar a {
    position: relative;
    float: left;
    display: block;
    color: #f2f2f2;/*white*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-bottom:3px solid transparent;


}
.navtabsfont{
    font-family: "Comic Sans MS", Halvetica, sans-serif;
    font-size: 20px;
}
.navbar a:hover{
    border-bottom: 3px solid red;
}
.navbar a.active{
    border-bottom: 3px solid red;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

.brand-logo{
    
    font-family: 'Tangerine', serif;
    font-size: 48px;

}

.isDisabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 1;
    text-decoration: none;
}
/* Center-aligned link*/
.navbar a.center{
    /*width: 100%;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -90px !important;/* 50% of your logo width */
    display: block;


}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}




/* Column container */
.row {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

/*second*/
.second{
    text-align: center;
    flex: 50%;
    background-color: white;
    padding: 20px;
}
/* Main column */
.main {
    text-align: center;
    flex: 50%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
   .navbar a.center{
            position: absolute;
            left: 50%;
            margin-left: -40px !important;/* 50% of your logo width */
            display: block;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}




