* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333333;
}

/* Style the navigation bar links */
.navbar a {
    position: relative;
    float: left;
    display: block;
    color: #f2f2f2;/*white*/
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom:3px solid transparent;


}
.navtabsfont{
    font-family: "Comic Sans MS", Halvetica, sans-serif;
    font-size: 20px;
}
.highlightfont{
    font-family: "Comic Sans MS", Halvetica, sans-serif;
    font-size: 17px;
    color: blue;
}
.navbar a:hover{
    border-bottom: 3px solid grey;
}
.navbar a.active{
    border-bottom: 3px solid grey;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

.brand-logo{
    
    font-family: 'Tangerine', serif;
    font-size: 48px;

}

.isDisabled{
    color: currentColor;
    /*cursor: not-allowed;*/
    opacity: 1;
    text-decoration: none;
    width: 100%
}
/* Center-aligned link*/
.navbar a.center{
    /*width: 100%;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -90px !important;/* 50% of your logo width */
    display: block;


}

/* Change color on hover */
.navbar a:hover {
  background-color: none;
  color: black;
}




/* Column container */
.row {
    /*flex-direction: column;*/
    display: flex;
    flex-wrap: wrap;
}

/*second*/
.second{
    text-align: center;
    flex: 30%;
    background-color: white;
    padding: 20px;
}
/* Main column */
.main {
    text-align: center;
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
/*somestuff*/
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.imgOval{

        max-width: 100%;
        height: auto;
        border-radius: 50%;
}







/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .row {
    flex-direction: row;
  }
  .navbar a{
    width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}


.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("weds.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  


/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
